<div class="categories-selector">
  <div class="categories-title">
    Filter Application Content
  </div>
  <ul class="categories">
    <% Tolk::Phrase::categories.each do |category| %>
      <li class="category">
        <%= link_to(category, all_locale_path(locale, category: category), class: "btn " + (current_category == category ? "active" : "")) %>
      </li>
    <% end %>
  </ul>
</div>
